<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxj.chatForum.mapper.AddressMapper">
    <!-- 标准返回类型   -->
    <resultMap id="addressInfo" type="addressPojo">
        <result property="createTime" column="create_time"/>
        <result property="addressImg" column="address_img"/>
    </resultMap>

    <!--获取全部地址-->
    <select id="getAddresses" resultMap="addressInfo">
        select * from address
    </select>

    <!--插入某一个地址-->
    <insert id="insert">
        insert into address(name,intro,isLook) values (#{name},#{intro},#{isLook})
    </insert>

    <!--  更新某个地址-->
    <update id="update">
        update address set name=#{name},intro=#{intro},isLook=#{isLook} where id=#{id}
    </update>

</mapper>