<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxj.chatForum.mapper.MessageListMapper">

    <resultMap id="friendInfoMap" type="FriendsListPojo">
        <result property="appellation" column="appellation"></result>
        <association property="friendInfo" javaType="userPojo">
            <result property="id" column="userId" />
            <result property="username" column="username" />
            <result property="nickname" column="nickname"/>
            <result property="avatar" column="avatar"/>
            <result property="signature" column="signature"/>
            <result property="type" column="type"/>
            <result property="level" column="level"/>
            <result property="likes" column="likes"/>
            <result property="collect" column="collect"/>
            <result property="forum_number" column="forum_number"/>
        </association>
    </resultMap>

    <sql id="userInfoSql">
        id
        ,username,nickname,avatar,signature,type,level,likes,collect,forum_number,(concat('/userHome?id=',id))as homeLink,address
    </sql>
    <!--    //    获取消息页  朋友列表-->
    <select id="getFriendMessageList" resultType="userPojo">
        SELECT
        <include refid="userInfoSql"/>
        FROM user WHERE id in(SELECT DISTINCT fid
        FROM (
        SELECT receiver_id AS fid
        FROM UserMessage
        WHERE uid = #{uid}
        UNION
        SELECT uid AS fid
        FROM UserMessage
        WHERE receiver_id = #{uid}
        ) as temp)
    </select>
    <!--    //获取朋友页  朋友列表-->
    <select id="getChatList" resultMap="friendInfoMap">
        SELECT u.id as userId,
               u.username,
               u.nickname,
               u.avatar,
               u.signature,
               u.type,
               u.level,
               u.likes,
               u.collect,
               u.forum_number,
               (concat('/userHome?id=', u.id)) as homeLink,
               u.address,
               f.id,
               f.appellation
        FROM user u
                 JOIN (SELECT friend_id AS id, appellation
                       FROM friendslist
                       WHERE uid = #{uid}) f ON u.id = f.id
    </select>
    <!--    //获取两个人的聊天对话-->
    <select id="getOneMessageArr" resultType="messagePojo">
        select *
        from usermessage
        where (uid = #{uid} and receiver_id = #{senderId})
           or (uid = #{senderId} and receiver_id = #{uid})
        ORDER BY send_time
    </select>
    <!--    //发送某个消息-->
    <insert id="insertMessage">
        insert into chatforum.usermessage (uid, receiver_id, content)
        values (#{uid}, #{receiver_id}, #{content})
    </insert>
    <!--    //  添加一位朋友-->
    <insert id="insertFriend">
        insert into chatforum.friendslist (uid, friend_id)
        values (#{uid}, #{friendId})
    </insert>
    <!--    //更新朋友的称呼-->
    <update id="updateFriend">
        update chatforum.friendslist
        set appellation=#{appellation}
        where uid = #{uid}
          and friend_id = #{friend_id}
    </update>
</mapper>