@font-face {
    font-family:'凤舞体' ;
    src: url('Myfont.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family:'SJ-Narrow-ExtraBold-2' ;
    src: url('SJ-Narrow-ExtraBold-2.ttf');
    font-weight: normal;
    font-style: normal;
}
